package ${classPackage};

import java.time.Instant;

@SuppressWarnings({
        "squid:S3400" // Methods should not return constants
})
@org.febit.lang.annotation.Generated
public class ${classSimpleName} implements org.febit.lang.module.IModule {

    public static String groupId() {
        return "${groupId}";
    }

    public static String artifactId() {
        return "${artifactId}";
    }

    public static String version() {
        return "${version}";
    }

    public static String commitId() {
        return "${commitId}";
    }

    public static Instant buildTime() {
        // ${buildTime}
        return Instant.ofEpochSecond(${buildTime.epochSecond}L);
    }

    @Override
    public String getGroupId() {
        return groupId();
    }

    @Override
    public String getArtifactId() {
        return artifactId();
    }

    @Override
    public String getVersion() {
        return version();
    }

    @Override
    public String getCommitId() {
        return commitId();
    }

    @Override
    public Instant getBuildTime() {
        return buildTime();
    }
}
